table {
  background-color: #112121;
  border: 1.5px solid #d5bda7;
  width: 100%;
  max-width: 100%;
}
th {
  font-weight: normal;
  font-size: 16px;
  color: #f4f2f0;
  text-transform: uppercase;
  border-right: 1px solid #d5bda7;
  border-top: 1px solid #d5bda7;
  border-left: 1px solid #d5bda7;
  border-bottom: 1px solid #d5bda7;
  padding: 20px;
}
td {
  color: #f4f2f0;
  border-right: 1px dashed #d5bda7;
  padding: 10px 20px;
}
